/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/materia/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}
  
.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
  
.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  background-color: #fff !important;
}

body {
  background-color: #f0f0f0;
  font-size: large;
  height: 100%;
}

  
html {
  margin: 0;
}

.ngx-editor-textarea {
  background-color: #ffffff !important;
}