<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" 
          aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ml-4" [routerLink]="['/home']"><i class="fa fa-cogs" aria-hidden="true"></i> openSDesk</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" [collapse]=isCollapsed>
      <ul class="navbar-nav mr-auto">
        <li *appHasRole="['Admin', 'Clerk']" class="nav-item mr-sm-4" routerLinkActive="active" (click)="onClick($event)">
          <a class="nav-link text-info" [routerLink]="['/list']">Service requests</a>
        </li>
        <li class="nav-item mr-sm-4" routerLinkActive="active" (click)="onClick($event)">
          <a class="nav-link" [routerLink]="['/addTicket']">Report incident</a>
        </li>
        <li class="nav-item mr-sm-4" routerLinkActive="active" (click)="onClick($event)">
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
      </ul>
      
      <div class="dropdown mr-8" dropdown>
        <a class="text-light dropdown-toggle" dropdownToggle >
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/user/edit']"><i class="fa fa-user"></i> Profile</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Sign out</a>
        </div>
      </div>
  
      <!-- <div *ngIf="!loggedIn()">
      <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" 
          placeholder="Felhasználó" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password" 
          placeholder="Jelszó" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Bejelentkezek</button>
        <button *ngIf="!loggedIn()" [routerLink]="['/register']" class="btn btn-info my-2 my-sm-0 ml-2" type="button">Regisztrálok</button>
      </form>
    </div> -->
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>