<div class="container mt-4">
  <div class="row">
      <h3 class="ml-4">{{user.username | titlecase}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{user.photoUrl}}" alt="{{user.username}}" class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Last login:</strong>
            <p>{{user.lastActive | timeago}}</p>
          </div>
          <div>
            <strong>Registered:</strong>
            <p>{{user.registrationDate | timeago}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-success w-100" (click)="selectTab(4)">Messages</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel card">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="Profile">
            <p>{{user.introduction}}</p>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Chat">
            <app-user-messages [recipientId]="user.id"></app-user-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
