<div class="container-fluid text-center">
    <div class="row content">
        <br/>
        <div class="col-sm-2 sidenav mt-12">
        </div>
        <div class="col-sm-8 text-left">

            <div class="well">
                <h1>Adatvédelmi elveim</h1>
                <div class="clear"></div>


                <b>Az a személy, aki megtekinti vagy tartalmat tölt fel Weboldalamra, az Adatvédelmi Szabályzatomat és Adatvédelmi Nyilatkozatomat elfogadja, annak minden pontjával teljes mértékben egyetért, ezért kérem Tisztelt Felhasználóimat az oldal használatát megelőzően figyelmesen olvassák át és értelmezzék Adatvédelmi Szabályzatomat.</b><br><br>

                <b>I. Fogalmak</b><br><br>

                Jelen adatvédelmi szabályzatban használt fogalmak az információs önrendelkezési jogról és információszabadságról szóló 2011. évi CXII.  törvény (Infotv) 3. § -an foglaltak szerint értelmezendők.<br><br>

                <u><b>Fontosabb fogalmak ismertetése:</b></u><br><br>

                <b>Felhasználó:</b> az a természetes személy, aki Weboldalt használja, mint megtekinti vagy tartalmat tölt fel.<br>
                <b>Adatkezelő:</b> Varga Norbert (szül.: Budapest 1984.08.31); <br>
                <b>Személyes adat:</b> A személyes adat minden olyan információ, amely valamely azonosított vagy azonosítható élő személlyel kapcsolatos. Mindazon információk, amelyek összegyűjtése egy bizonyos személy (továbbiakban. Érintett) azonosításához vezethet, ugyancsak személyes adatnak minősülnek. <br>
                <b>Adatkezelés:</b> Az „adatkezelés” a személyes adatokon végrehajtott műveletek széles körét öleli fel, beleértve a manuális vagy automatizált eszközökkel végrehajtott műveleteket is. Idetartozik a gyűjtés, a rögzítés, a rendszerezés, a tagolás, a tárolás, az átalakítás vagy a megváltoztatás, a lekérdezés, a betekintés, a felhasználás, a közlés továbbítás, terjesztés vagy egyéb módon történő hozzáférhetővé tétel útján, az összehangolás vagy összekapcsolás, a korlátozás, a törlés, illetve a megsemmisítés;<br>
                <b>Adatfeldolgozás:</b> az adatkezelési műveletekhez kapcsolódó technikai feladatok elvégzése, függetlenül a műveletek végrehajtásához alkalmazott módszertől és eszköztől, valamint az alkalmazás helyétől, feltéve, hogy a technikai feladatot az adatokon elvégzik;<br>
                <b>Adattovábbítás:</b> a személyes adatot meghatározott harmadik személy számára hozzáférhetővé tétele;<br>
                <b>Nyilvánosságra hozatal:</b> a személyes adatot bárki számára történő hozzáférhetővé tétele;<br>
                <b>Adatfeldolgozó:</b> az a természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki vagy amely az Adatkezelő megbízásából személyes adatok feldolgozását végzi;<br>
                <b>Adattörlés:</b> az adatok törlése vagy anonimizálása, olyan módon ami nem állítható vissza;<br>
                <b>Adatzárolás:</b> az adat azonosító jelzéssel ellátása további kezelésének végleges vagy meghatározott időre történő korlátozás céljából;<br>
                <b>Gépi feldolgozás:</b> a következő műveleteket tartalmazza, ha azokat részben vagy egészben automatizált eszközökkel hajtják végre: az adatok tárolása, az adatokkal végzett logikai vagy aritmetikai műveletek, az adatok megváltoztatása, törlése, visszakeresése és terjesztése;<br>
                <b>Adatvédelmi incidens:</b> személyes adat jogellenes kezelése vagy feldolgozása, melynek eredményeképpen sérül a titoktartási kötelezettség, a hozzáférhetőség vagy az integritás.<br><br>

                <b>II. Az adatkezelés elvei</b><br><br>

                Adatkezelő tevékenysége folytán az információs önrendelkezési jogról és információszabadságról szóló 2011. évi CXII. törvény (Infotv.) és a EURÓPAI PARLAMENT ÉS A TANÁCS (EU) 2016/679 RENDELETE adatkezelési elveit minden esetben alkalmazza és eljárása alapjául teszi, így figyelemmel van a célhoz kötöttség, a tisztességes és törvényes adatkezelés, a szükségesség, a pontosság és korlátozott tárolhatóság, az integritás elvekre.<br><br>

                <b>III. Az adatkezelés célja</b><br><br>

                A Weboldal az adatokat <b>kizárólag az oldalon eszközölt rendelések befogadása, feldolgozása és azok teljesítése céljából kezeli, valamint az Általános szerződési feltételekben foglaltak céljából.</b> Az Adatkezelő a megadott személyes adatokat az e pontokban írt céloktól eltérő célokra nem használhatja fel. személyes adatok harmadik személynek vagy hatóságok számára történő kiadása - hacsak törvény ettől eltérően nem rendelkezik kötelező erővel - a Felhasználó előzetes, kifejezett hozzájárulása esetén lehetséges kizárólag.<br><br>

                A személyes adatok kezelése a Felhasználó jelen tájékoztatás ismeretében adott önkéntes írásbeli hozzájárulásán alapul.<br><br>

                Adatkezelő a személyes adatokat az adatkezelés céljának fennállása alatt, így a Weboldalon történő regisztráció, illetve a Hírlevél küldése esetén addig kezeli, amíg a Felhasználó nem kéri az adatai törlését, illetve nem vonja vissza személyes adatai kezeléséhez, illetve a Hírlevelek fogadásához adott hozzájárulását. A személyes adatok az adatkezelés céljának megszűnésével egyidejűleg, illetve a Felhasználó kérésére haladéktalanul törlésre kerülnek, kivéve azon adatokat, amelyeket Adatkezelő jogszabályi kötelezettség alapján a kötelező adatkezelést elrendelő jogszabályban meghatározott ideig megőrizni köteles. <br><br>

                Adatkezelő fenntartja magának a jogot, hogy törölje a Saját profilt, amennyiben Felhasználó a regisztrációjától számított egy éven belül nem lép be a Saját profiljába, és a Felhasználónak a regisztráció során megadott e-mail címére küldött levélben megjelölt határidőn belül sem jelzi, hogy Saját profilját ne töröljék. <br><br>

                Adatkezelő a neki megadott személyes adatokat nem ellenőrzi. A megadott adatok megfelelősségéért kizárólag az azt megadó személy felel. Bármely Felhasználó e-mail címének megadásakor egyben felelősséget vállal azért, hogy a megadott e-mail címről kizárólag ő vesz igénybe szolgáltatást. E felelősség-vállalásra tekintettel egy megadott e-mail címen történt belépésekkel összefüggő mindennemű felelősség kizárólag azt a felhasználót terheli, aki az e-mail címet regisztrálta. A Felhasználók kizárólag saját személyes adataikat adhatják meg a Weboldalon. Amennyiben nem saját személyes adataikat adják meg, az adatközlő kötelessége az érintett hozzájárulásának beszerzése.<br><br>

                A személyes adatok megismerésére az Adatkezelő, illetve az általa igénybevett Adatfeldolgozók a hatályos jogszabályok szerint jogosultak.<br><br>

                <b>IV. Kezelt információk, adatok</b><br><br>

                Adatkezelő a <b>Weboldal tevékenységével összefüggésben Felhasználók hozzájárulással megadott, személyes adatait, mint Adatkezelővel ügyfélkapcsolati viszonyban álló személyek adatait kezeli.</b><br><br>

                <u><b>A Weboldal a következő információkat kezeli a Felhasználók Hírlevélre történő feliratkozásával:</b></u><br><br>

                1. Felhasználó neve, email címe<br><br>

                <u><b>A Weboldal a következő információkat  kezeli a Felhasználók Weboldalon történő regisztrálásával:</b></u><br><br>

                1. Felhasználó neve, email címe<br><br>

                <u><b>A Weboldal a következő információkat kezeli a Felhasználók Weboldalon történő rendelésével, előfizetésével kapcsolatban:</b></u><br><br>

                <ol>
                    <li>Felhasználó email elérhetősége </li>
                    <li>Utolsó belépési időpont</li>
                </ol>

                Adatkezelő tájékoztatja Felhasználókat, hogy a tevékenység, rendelés, előfizetés jellegére tekintettel a tevékenységgel kapcsolatban igénybe vett Weboldalak a fenti adatok közül jogosultak valamennyit, vagy amennyiben elegendő csak egy részüket bekérni Felhasználótól.<br><br>

                A Felhasználó regisztrációjával a rendszer működéséhez szükséges automatikusan rögzítésre kerülő adatok (IP cím, böngésző adatok stb) is rögzítésre kerülnek.<br><br>

                A regisztrációt követően a Weboldal létrehozza a Felhasználó profilját, mely tartalmazza a fenti adatokat, valamint a későbbiekben Felhasználó által eszközölt rendeléseket.<br><br>

                Adatkezelő a testre szabott kiszolgálás érdekében a Felhasználó számítógépén kis adatcsomagot (ún. „cookie”-t) helyezhet el. A cookie célja az adott oldal minél magasabb színvonalú működésének biztosítása a felhasználó élmény növelése érdekében. A cookie-t a Felhasználó képes törölni saját számítógépéről, illetve beállíthatja böngészőjét, hogy a cookie-k alkalmazását tiltsa. A cookie-k alkamazásának tiltásával a Felhasználó tudomásul veszi, hogy cookie nélkül az adott oldal működése nem teljes értékű. <br><br>

                <b>V. Az adatkezelés időtartama</b><br><br>

                Adatkezelő az adatokat az adatkezelés <b>céljának megvalósulásáig</b>, a regisztráció törléséig kezeli, kivéve a számviteli bizonylatokat, hivatkozva a számvitelről szóló 2000. évi C. törvény 169. § (2) bekezdésére, amely szerint ezek 8 évig őrizendők. <br><br>

                Adatkezelő törli az adatkezelési nyilvántartásból a személyes adatokat:

                <ul>
                    <li>ha az adatkezelés jogellenes,</li>
                    <li>ha azt a Felhasználó kéri (jogszabályban elrendelt adatkezelés kivételével),</li>
                    <li>ha az adat hiányos vagy téves – és ez az állapot jogszerűen nem orvosolható – feltéve, hogy a törlést törvény nem zárja ki,</li>
                    <li>ha az adatkezelés célja megszűnt vagy az adatok törvényben meghatározott kezelésének határideje lejárt vagy</li>
                    <li>ha azt a bíróság vagy Nemzeti Adatvédelmi és Információszabadság Hatóság elrendelte.</li>
                </ul>

                A rendszer működése során automatikusan, technikailag rögzítésre kerülő adatok a generálódásuktól számítva a rendszer működésének biztosítása szempontjából indokolt időtartamig kerülnek tárolásra a rendszerben. Adatkezelő biztosítja, hogy ezen, automatikusan rögzített adatok egyéb felhasználói személyes adatokkal nem összekapcsolhatók.<br><br>

                <b>VI. Adattovábbítás</b><br><br>

                Adatkezelő <b>harmadik személynek, illetve külföldi harmadik személynek</b> történő adattovábbításra kizárólag Felhasználó kifejezett hozzájárulásával jogosult. A Weboldalon elérhető szolgáltatás teljesítése érdekében Adatkezelő a Felhasználó Regisztráció során megadott adatai közül a megrendelés teljesítéséhez szükséges adatokat átadja annak a partnernek, amely a szolgáltatást teljesíti. <br><br>

                Felhasználó szolgáltatás teljesítéséhez szükséges, harmadik személynek, illetve külföldi harmadik személynek szóló szükséges adattovábbításhoz az Általános Szerződési Feltételek és az Adatvédelmi Szabályzat elfogadásával kifejezetten hozzájárulását adja.<br><br>

                Adattovábbítás történik <b>különösen a következő együttműködő partner társaságoknak</b>:<br><br>

                1. Google Inc. AdSense<br>
                Társaság székhelye: Mountain View, Kalifornia, Egyesült Államok<br><br />

                <b>VII. Adatbiztonság</b><br><br>

                Adatkezelő <b>mind informatikai, mind papír alapú</b> rendszerek igénybevételével végzi a Felhasználók adatainak kezelését.<br><br>

                Az Adatkezelő kötelezi magát arra, hogy gondoskodik az adatok biztonságáról, megteszi továbbá azokat a technikai és szervezési intézkedéseket, és kialakítja azokat az eljárási szabályokat, amelyek biztosítják, hogy a felvett, tárolt, illetve kezelt adatok védettek legyenek, illetőleg megakadályozza azok megsemmisülését, jogosulatlan felhasználását és jogosulatlan megváltoztatását. Kötelezi magát arra is, hogy minden olyan harmadik felet, akiknek az adatokat a Felhasználók hozzájárulása alapján továbbítja vagy átadja, felhívja, hogy eleget tegyenek az adatbiztonság követelményének.<br><br>

                Adatkezelő gondoskodik arról, hogy a kezelt adatokhoz illetéktelen személy ne férhessen hozzá, ne hozhassa nyilvánosságra, ne továbbíthassa, valamint azokat ne módosíthassa, törölhesse. A kezelt adatokat kizárólag Adatkezelő, valamint alkalmazottai, illetve az általa igénybe vett Adatfeldolgozó(k) ismerhetik meg, azokat Adatkezelő harmadik, az adat megismerésére jogosultsággal nem rendelkező személynek nem adja át.<br><br>

                A Felhasználó elismeri és elfogadja, hogy személyes adatainak a Weboldalon való megadása esetén – annak ellenére, hogy az Adatkezelő az adatokhoz való jogosulatlan hozzáférésnek vagy azok kifürkészésének megelőzésére korszerű, a technika mindenkori fejlettségére tekintettel a lehető legmegfelelőbb biztonsági eszközökkel rendelkezik –, az adatok védelme teljes mértékben az Interneten nem garantálható. Jogosulatlan hozzáférés vagy adatmegismerés erőfeszítéseink ellenére történő bekövetkezése esetén az Adatkezelő nem felelős ilyen jellegű adatmegszerzésért vagy jogosulatlan hozzáférésért vagy a Felhasználónál ezen okokból kifolyólag keletkezett bármilyen kárért. <br><br>

                <b>VIII. Felhasználók jogai</b><br><br>

                <b>Felhasználó jogosult:</b>
                <ol>
                    <li>tájékoztatást kérni személyes adatai kezeléséről,</li>
                    <li>kérni személyes adatainak helyesbítését,</li>
                    <li>kérni személyes adatainak – a kötelező adatkezelés kivételével – törlését vagy zárolását.</li>
                </ol>

                <u><b>Tájékoztatás kérése</b></u><br><br>

                Adatkezelő a Felhasználó kérésére tájékoztatást ad az általa kezelt személyes adatairól, azok forrásáról, az adatkezelés céljáról, jogalapjáról, időtartamáról, az adatfeldolgozó nevéről, címéről és az adatkezeléssel összefüggő tevékenységéről, továbbá - az érintett személyes adatainak továbbítása esetén - az adattovábbítás jogalapjáról és címzettjéről. <br><br>

                A tájékoztatás kérhető e-mailben az <a href="mailto:norbert.mailto@gmail.com">norbert.mailto@gmail.com</a> e-mail címen és postai levél útján a következő postai címen: Varga Norbert, 2363 Felsőpakony, Rét utca 10. mindkét esetben a személyazonosság igazolásával és a levelezési cím megadásával. Adatkezelő a kérelem beérkezésétől számított legkésőbb 25 (Huszonöt) napon belül, írásban válaszol. <br><br>

                <u><b>Helyesbítés kérése</b></u><br><br>

                Felhasználó jogosult kérni a személyes adatai helyesbítését (megjelölve a helyes adatokat) szintén az <a href="mailto:norbert.mailto@gmail.com">norbert.mailto@gmail.com</a> e-mail címen és postai levél útján a következő postai címen: Varga Norbert, 2363 Felsőpakony, Rét utca 10., mindkét esetben személyazonosságának igazolásával és a levelezési cím megadásával. Adatkezelő a helyesbítést haladéktalanul elvégzi a nyilvántartásában, és ennek megtörténtéről írásban értesíti az érintettet. <br><br>

                <u><b>Adatok törlése, zárolása</b></u><br><br>

                Felhasználó a fentieken kívül bármikor kérheti az adatai törlését vagy zárolását – részben vagy egészben – az <a href="mailto:norbert.mailto@gmail.com">norbert.mailto@gmail.com</a> e-mail címen és postai levél útján a következő postai címen: Varga Norbert, 2363 Felsőpakony, Rét utca 10. ingyenesen, indokolás nélkül, személyazonosságának igazolásával és a levelezési cím megadásával. Adatkezelő a törlési kérelem kézhezvételét követően haladéktalanul gondoskodik az adatkezelés megszüntetéséről, és törli a Felhasználót a nyilvántartásából. <br><br>

                Törlés helyett az Adatkezelő zárolja a személyes adatot, ha a Felhasználó ezt kéri, vagy ha a rendelkezésére álló információk alapján feltételezhető, hogy a törlés sértené a Felhasználó jogos érdekeit. Az így zárolt személyes adat kizárólag addig kezelhető, ameddig fennáll az adatkezelési cél, amely a személyes adat törlését kizárta. <br><br>

                <u><b>Adatkezelő intézkedése</b></u><br><br>

                Amennyiben az Adatkezelő a Felhasználó helyesbítés, zárolás vagy törlés iránti kérelmét nem teljesíti, a kérelem kézhezvételét követő 25 (Huszonöt) napon belül írásban közli a helyesbítés, zárolás vagy törlés iránti kérelem elutasításának ténybeli és jogi indokait. A helyesbítés, törlés vagy zárolás iránti kérelem elutasítása esetén az Adatkezelő tájékoztatja a Felhasználót a bírósági jogorvoslat, továbbá a Nemzeti Adatvédelmi és Információszabadság Hatósághoz történő fordulás lehetőségéről. <br><br>

                <u><b>Tiltakozás adatkezeléssel szemben</b></u><br><br>

                A Felhasználó tiltakozhat személyes adatának kezelése ellen,
                <ul>
                    <li>ha a személyes adatok kezelése vagy továbbítása kizárólag az Adatkezelőre vonatkozó jogi kötelezettség teljesítéséhez vagy az Adatkezelő, adatátvevő vagy harmadik személy jogos érdekének érvényesítéséhez szükséges, kivéve kötelező adatkezelés esetén</li>
                    <li>ha a személyes adat felhasználása vagy továbbítása közvetlen üzletszerzés, közvélemény-kutatás vagy tudományos kutatás céljára történik; valamint</li>
                    <li>a törvényben meghatározott egyéb esetben.</li>
                </ul>

                Az Adatkezelő a tiltakozást a kérelem benyújtásától számított legrövidebb időn belül, de legfeljebb 15 napon belül megvizsgálja, annak megalapozottsága kérdésében döntést hoz, és döntéséről a kérelmezőt írásban tájékoztatja. <br><br>

                <b>IX. Jogorvoslat</b><br><br>

                A Felhasználó kérelmezheti az Adatkezelőnél, hogy tájékoztassa személyes adatai kezeléséről, a hibásan vagy hiányosan felvett adatokat helyesbítse vagy személyes adatait törölje, zárolja, illetve tiltakozást nyújthat be a személyes adatok kezelésével kapcsolatban.<br><br>

                Amennyiben a Adatkezelő azt állapítja meg, hogy a kérelem megalapozott az adatkezelést - beleértve a további adatfelvételt és adattovábbítást is - megszünteti, és az adatokat zárolja, valamint a tiltakozásról, továbbá az annak alapján tett intézkedésekről értesíti mindazokat, akik részére a tiltakozással érintett személyes adatot korábban továbbította, és akik kötelesek intézkedni a tiltakozási jog érvényesítése érdekében.<br><br>

                Amennyiben a Felhasználó Adatkezelő meghozott döntésével nem ért egyet, eljárását vitatja, az ellen - annak közlésétől számított 30 napon belül - bírósághoz fordulhat. A bíróság soron kívül jár el.<br><br>

                Adatkezelő esetleges adatvédelmi és adatkezelési szabályokat sértő eljárása, egyéb jogsértése ellen Felhasználó <b>panasszal élhet a Nemzeti Adatvédelmi és Információszabadság Hatóságnál</b>:<br><br>

                <b>Nemzeti Adatvédelmi és Információszabadság Hatóság (NAIH)</b><br>
                1125 Budapest, Szilágyi Erzsébet fasor 22/C.<br>
                Levelezési cím: 1530 Budapest, Postafiók: 5.<br>
                Telefon: +36 -1-391-1400<br>
                Fax: +36-1-391-1410<br>
                E-mail: <a href="mailto:ugyfelszolgalat@naih.hu">ugyfelszolgalat@naih.hu</a><br>
                <a href="http://www.naih.hu" target="_blank">www.naih.hu</a><br><br>

                A www.naih.hu oldalon lehetőség nyílik az oldalon történő regisztrációt követően online ügyindításra, melyhez tájékoztató a honlapon található.<br><br>

                <b>X. Hírlevélre történő feliratkozás</b><br><br>

                Felhasználó a Weboldal <b>Hírlevelére</b> történő feliratkozással kifejezetten hozzájárul ahhoz, hogy Adatkezelő reklámajánlataival, egyéb küldeményeivel a regisztrációkor megadott elérhetőségein (pl. elektronikus levélcím, vagy telefonszám) megkeresse.<br><br>

                Hírlevél kapcsán az adatkezelés célja reklámanyagok, ajánlatok, akciók stb. küldése, ismertetése Felhasználóval elektronikus üzenetek (email, sms, push üzenet stb) formájában.<br><br>

                Ezeket a közleményeket, többet között emberi beavatkozással vagy anélkül küldi Adatkezelő direkt marketing céljaira, azért hogy termékeket vagy szolgáltatásokat reklámozzon.<br><br>

                Felhasználó korlátozás és indokolás nélkül, ingyenesen jogosult bármikor visszavonni hozzájárulását ahhoz, hogy hírleveleket, üzeneteket vagy figyelmeztetéseket kapjon az alábbi eljárások bármelyikével:
                <ul>
                    <li>a hírlevelekben, üzenetekben és/vagy figyelmeztetésekben erre a célra feltüntetett link segítségével, vagy</li>
                    <li>a Weboldalon levő Saját profiljában használva a leiratkozásra szolgáló opciót, vagy</li>
                    <li>leiratkozási szándékát Ügyfélszolgálatunk elérhetőségei valamelyikén történő jelzésével.</li>
                </ul>

                A Hírlevél vonatkozásában az adatkezelés <b>leiratkozásig tart</b> vagyis, amennyiben Felhasználó a Hírlevélről leiratkozott, úgy Adatkezelő minden - a reklámüzenetek küldéséhez szükséges - személyes adatát törli nyilvántartásából és további reklámajánlataival nem keresi meg a Felhasználót. <br><br>

                <b>XI. Vegyes rendelkezések</b><br><br>

                Az információs önrendelkezési jogról és információszabadságról szóló 2011. évi CXII. törvény (Infotv.) 65. § rendelkezéseire tekintettel Adatkezelő jelen weboldal kapcsán történő adatkezelését a NAIH által vezetett hatósági nyilvántartásba bejelenti.<br><br>

                Jelen adatvédelmi szabályzatban, nyilatkozatban nem szabályozott kérdésekben különösen az Európai Parlament és Tanács (EU) 2016/679 rendelete (2016. április 27.) a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről szóló rendelet (Rendelet), a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi XLCVII. évi törvény, és az információs önrendelkezési jogról és információszabadságról szóló 2011. évi CXII. törvény (Infotv.) rendelkezései az irányadóak.<br><br>

                Adatkezelő fenntartja magának azt a jogot, hogy jelen tájékoztatót egyoldalúan bármikor módosítsa. A módosítással egységes szerkezetbe foglalt tájékoztatót köteles a hatályba lépést megelőző 15 napon belül a Felhasználók számára könnyen elérhető formában közzétenni. <br><br>

                Adatkezelő tájékoztatja a Felhasználókat, hogy az általa, illetve partnerei által szervezett különböző játékok vonatkozásában is alkalmazandó jelen Adatvédelmi Szabályzat játékszabályzatban foglaltaknak megfelelően.<br><br>

                Jelen adatvédelmi szabályzat <u><b>2018. Április 8.</b></u> napjától visszavonásig hatályban marad.<br><br>

                A Weboldal Általános Szerződési Feltételei (ÁSZF) a <a href="http://ittfelteheted.hu/policy" target="_blank">ittfelteheted.hu/policy</a> linken érhetők el.<br><br>

                <b>ADATVÉDELMI NYILATKOZAT</b><br><br>

                Nyilatkozom, hogy az adatok tárolása felhasználása hírlevél küldése érdekében történik. Harmadik félnek kiadásra nem kerül és a megfelelő biztonsági intézkedések alkalmazásával kerülnek tárolásra. <br><br>

                Továbbá nyilatkozom, hogy a testre szabott kiszolgálás érdekében a Felhasználó számítógépén kis adatcsomagot (ún. „cookie”-t) kerülnek elhelyezésre. Az adatcsomagokhoz a Google Inc. AdSense kap hozzáférést a Weboldalba ágyazott kód segítségével. <br><br>
            </div>
        </div>
        <div class="col-sm-2 sidenav">

        </div>
    </div>
</div>